<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="carInfo" class="az.spring.demo.dao.main.CarInfo">
<!--        <property name="car" ref="kia"/>-->
                <constructor-arg name="car" ref="kia"/>
    </bean>
    <bean id="kia" class="az.spring.demo.dao.impl.Kia"/>
    <bean id="bmw" class="az.spring.demo.dao.impl.Bmw"/>
    <bean id="mercedes" class="az.spring.demo.dao.impl.Mercedes"/>
</beans>